[defaults]
ansible_python_interpreter=/usr/bin/python3
inventory=inventory/inventory
gathering = explicit
host_key_checking = False
collections_on_ansible_version_mismatch = ignore

[persistent_connection]
command_timeout = 180

[galaxy]
server_timeout = 180

[paramiko_connection]
look_for_keys = False
